/* *{
    
}

section{
    display: flex;
    border: 1px solid red;
    justify-content: space-between;
}

div {
    width: 11rem;
    height: 200px;
    border: 1px solid black;
} */

*{
    /* border: 1px solid purple; */
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    background: black;
}

.flex{
    display: flex;
    flex-wrap: wrap;
}

.mainBox{
    height: 600px;
    margin-top: 0;
    background: lightblue;
    justify-content: center;
}

nav {
    background: black;
    width: 85%;
    /* border: 1px solid red; */
    height: 60px;
    border-radius: 0 0 10px 10px;
    margin-top: 0;
    color: white;

}

ul{
    width: 100%;
    /* border: 1px solid orange; */
    /* flex-grow: 1; */
    list-style: none;
    display: flex;
    justify-content: space-between;
    
}

li{
    flex-basis: 25%;
    font-size: 2rem;
}

.logoGif{
    width: 75%;
    height: 400px;
    margin-bottom: 100px;
    border-radius: 10px;
    border: 1px solid orange;
}